{% extends 'base.html' %}

{% block section %}


<section class="container">
  <div class="page-inner">
    <!-- Search and Filters -->
    <div class="row mb-4 justify-content-between">
      <div class="col-md-3 mb-2">
        <!-- <form action="{% url 'batch-list' %}" method="get">
          <input type="text" class="form-control" placeholder="Search..." id="searchInput" name="query"
            value="{% if query %}{{ query }} {% endif %}" />
        </form> -->
      </div>
      <div class="col-md-3 mb-2">
        <a href="{%  url 'add-batch' %}" class="btn btn-primary px-5 btn-round">Add Batch</a>
      </div>
    </div>


    <!-- Data Table -->
    <div class="table-responsive">
      <table class="table table-bordered table-hover align-middle">
        <thead class="table-light">
          <tr>
            <th>code</th>
            <th>Name</th>
            <th>Course</th>
            <th>Trainer</th>
            {}
            <th>Start Date</th>
            <th>End Date</th>
            <th class="text-center">Actions</th>
          </tr>
        </thead>
        <tbody>
          <!-- Sample Row -->
          {% for batch in batches %}
          <tr>
            <td>{{batch.code}}</td>
            <td>{{batch.name}} </td>
            <td>{{batch.course}}</td>

            <td><ul>
                  {% for trainer in batch.trainer.all %}
                  <li>{{trainer.name}}</li>
                  {% endfor %}
                </ul></td>
            <td>{{batch.start_date}}</td>
            <td>{{batch.end_date}}</td>
            <td class="text-center">

              <a class="btn btn-sm btn-outline-primary me-1" href="{% url 'batch-details' batch.uuid%}" title="View">
                <i class="fas fa-eye"></i>
              </a>
              <a href="{% url 'edit-batch' batch.uuid%}" class="btn btn-sm btn-outline-warning me-1" title="Edit">
                <i class="fas fa-pen"></i>
              </a>
              <a href="{% url 'delete-batch' batch.uuid%}" class="btn btn-sm btn-outline-danger" title="Delete">
                <i class="fas fa-trash"></i>
              </a>
            </td>
          </tr>
          {% endfor %}
          <!-- Add more rows as needed -->
        </tbody>
      </table>
    </div>
  </div>
</section>


{% endblock %}