{% extends 'base.html' %}

{% block section %}


<section class="container">
  <div class="page-inner">
    <!-- Search and Filters -->
    <div class="row mb-4 justify-content-between">
      <div class="col-md-3 mb-2">
        <form action="{% url 'students-list' %}" method="get">
          <input type="text" class="form-control" placeholder="Search..." id="searchInput" name="query"
            value="{% if query %}{{ query }} {% endif %}" />
        </form>
      </div>
      <div class="col-md-3 mb-2">
        <a href="{%  url 'add-student' %}" class="btn btn-primary px-5 btn-round">Add Student</a>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-md-2 mb-2">
        <form method="get" action="{% url 'students-list' %}">
          <select class="form-select" id="filter1" name='course' onchange="this.form.submit()">
            <option selected disabled>course</option>
            {% for option in CourseChoices %}
            <!-- <option {% if course == option.value %} selected {% endif %} value="{{ option.value }}">{{option.label}} -->
            <option {% if course == option.name %} selected {% endif %} value="{{ option.name }}">{{option.name}}
            </option>

            {% endfor %}

          </select>
        </form>
      </div>
      <div class="col-md-2 mb-2">
        <form method="get" action="{% url 'students-list' %}">
          <select name='batch' class="form-select" id="filter2" onchange="this.form.submit()">
            <option selected disabled>Batch</option>
            {% for option in BatchChoices %}
            <!-- <option {% if batch == option.value %} selected {% endif %} value="{{option.value}}">{{ option.label}} -->
               <option {% if batch == option.name %} selected {% endif %} value="{{option.name}}">{{ option.name}}
            </option>
            {% endfor %}
          </select>
        </form>
      </div>
      <div class="col-md-2 mb-2">
        <form method="get" action="{% url 'students-list' %}">
          <select  name='trainer' class="form-select" id="filter3" onchange="this.form.submit()">
            <option selected disabled>Trainer</option>
            {% for option in TrainerChoices%}
            <!-- <option {% if trainer == option.value %} selected {% endif %}  value ="{{option.value}}">{{ option.label }}</option> -->
           <option {% if trainer == option.name %} selected {% endif %}  value ="{{option.name}}">{{ option.name }}</option>
            {% endfor %}
          </select>
        </form>
      </div>
    </div>

    <!-- Data Table -->
    <div class="table-responsive">
      <table class="table table-bordered table-hover align-middle">
        <thead class="table-light">
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Course</th>
            <th>Batch</th>
            <th class="text-center">Actions</th>
          </tr>
        </thead>
        <tbody>
          <!-- Sample Row -->
          {% for student in students %}
          <tr>
            <td>{{student.adm_num}}</td>
            <td>{{student.first_name}} {{student.last_name}}</td>
            <td>{{student.email}}</td>
            <td>{{student.course}}</td>
            <td>{{student.batch}}</td>
            <td class="text-center">
              <a class="btn btn-sm btn-outline-primary me-1" href=" {% url 'student-details' student.uuid %} "
                title="View">
                <i class="fas fa-eye"></i>
              </a>
              <a href="{% url 'student-edit' student.uuid %}" class="btn btn-sm btn-outline-warning me-1" title="Edit">
                <i class="fas fa-pen"></i>
              </a>
              <a href="{% url 'student-delete' student.uuid %}" class="btn btn-sm btn-outline-danger" title="Delete">
                <i class="fas fa-trash"></i>
              </a>
            </td>
          </tr>
          {% endfor %}
          <!-- Add more rows as needed -->
        </tbody>
      </table>
    </div>
  </div>
</section>


{% endblock %}